<div class="container">
  <div class="row">
    <form #regForm="ngForm" (submit)="register(regForm)">
      <h2>Employee Registration Form</h2>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control"  ngModel #firstName="ngModel" required>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control"  ngModel #lastName="ngModel" required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control"  id="email" email required ngModel #email="ngModel">
        <span class="alert alert-danger" *ngIf="email.touched && !email.valid">Please enter valid email.</span>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div *ngFor="let item of constant.genders">
          <input type="radio" id="{{item}}"  name="gender"  value="{{item}}" ngModel #gen="ngModel" (change)="onChangeGender(item)">{{item}}
          <span class="alert alert-danger" *ngIf="gen.touched && !gen.valid">Please enter gender.</span>
        </div>
      </div>

      <div class="form-group">
        <label>Hobbies</label>
        <div *ngFor="let hob of constant.hobbies">
          <input type="checkbox" id="{{hob}}"  name="hobbies"  [value]="hob" ngModel #hobby="ngModel"  (change)="onChangeHobbies(hob)">{{hob}}
          <span class="alert alert-danger" *ngIf="hobby.touched && !hobby.valid">Please enter Hobby.</span>
        </div>
      </div>


      <div class="form-group">
        <label>State</label>
        <select  name="state" class="form-control" ngModel #state="ngModel">
          <option *ngFor="let item of constant.states" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" name="mobile" class="form-control" id="mobile"  [minlength]="10" required ngModel
               #mobile="ngModel">
        <span class="alert alert-danger"
              *ngIf="mobile.touched && !mobile.valid">Please enter valid mobile number.</span>
      </div>

      <div>
        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
      </div>
    </form>
  </div>

</div>

<div *ngIf="regForm.submitted" >
  <h4>Name:</h4>{{firstName.value}} {{lastName.value}}
  <h4>Email:</h4>{{email.value}}
  <h4>Gender:</h4>{{gender}}
  <h4> Hobbies:</h4>{{hobbies}}
  <h4>State:</h4>{{state.value}}
  <h4>Mobile Number:</h4>{{mobile.value}}
</div>
