<div class="p-4">
  <h2>Custom Pipe of Sort using dropdown values</h2>

  <div class="form-group">
    <select class="custom-select" [(ngModel)]="order">
      <option value="title">Title</option>
      <option value="value">Value</option>
      <option value="digit">Digit</option>
    </select>
  </div>

  <h4>Object Items</h4>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Digit</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of items | orderBy : order ">
      <td>{{item.title}}</td>
      <td>{{item.value}}</td>
      <td>{{item.digit}}</td>
    </tr>
    </tbody>
  </table>

</div>
